# Sepolia config
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
#can use https://ethereum-sepolia-rpc.publicnode.com
SEPOLIA_DEPLOYER_PRIVATE_KEY=0xYOUR_DEPLOYER_PRIVATE_KEY
DAO_VOTE_RELAYER_ADDRESS=0xYOUR_RELAYER_ADDRESS


